---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$pad: 20px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "reset",
        "variables",
        "grids"
;

/* TYPOGRAPHY
=====================================================================
=====================================================================*/

h1, h2, p, .archive span, .workImg aside, .about ul li {
	font-family: 'Lora', serif;
}
h1, h2, .workImg aside {
	line-height: 1.3em;
}
h1 {
	font-size: 42px;
	margin: 20px 0;
}
h2 {
	font-size: 28px;
}
p, .about ul li {
	font-size: 18px;
	line-height: 1.5em;
}
header nav ul li, aside {
	font-size: 12px;
}

/* GLOBAL
=====================================================================
=====================================================================*/

hr {
	border: 0;
	height: 0;
	border-top: 1px solid #cccccc;
}

a:link {
	color: #869FCE;
	text-decoration: none;
	transition: all 0.5s ease;
}
a:visited {
	color: #627496;
}
a:hover {
	color: #2D4B82;
}
a:active {
	color: #4877CE;
}

/* HEADER + FOOTER
=====================================================================
=====================================================================*/

.logo div {
	font-family: helvetica;
	font-size: 50px;
	position: relative;
	top: 10px;
}

img {
	width: 100%;
}

.img-about {
	text-align: center;
	img {
	margin: 0 $pad $pad 0;
	max-width: 200px;
	}
}
header, footer {
	background-color: #1C2D4F;
	color: #fff;
}

header {
	nav ul li {
		float: right;
		margin: 28px 0 0 10px;
	}
}
footer {
	margin-top: $pad;
	p {
		font-size: 12px;
		line-height: 1.5em;
	}
	div img {
		float: left;
		margin: 0 10px 0 0;
		width: 80px;
	}
}

/* BODY
=====================================================================
=====================================================================*/


/* CONTENT
=====================================================================
=====================================================================*/

/********/
/* BLOG */
/********/

.blogImg {
	margin-bottom: $pad;
}
.blogStory {
	p:nth-child(n+2) {
		margin: $pad 8.33%; /* Added this code to accomodate post margins */
	}
	h1 {
		margin: 30px 8.33%;
	}
}
.disabled {
	display: none;
}

/*********/
/* ABOUT */
/*********/

.about {
	article p {
		margin: 0 0 $pad 0;
	}
	svg {
		width: 100px;
		text-align: center;
	}
	ul li {
		float: left;
		margin: 10px 10px 10px 0;
	}
}

/********/
/* WORK */
/********/

.workImg {
	h2 {
		margin: 0 0 $pad 0;
		text-align: center;
	}
	aside {
		display: none;
		margin: 0 0 $pad 0;
	}
}
.workTitle {
	h2 {
		margin: 30px 0;
	}
}
.workEffect {
	display: inline-block;
	max-width: 220px;
	height: 220px;
	margin: 0 0 $pad $pad;
	overflow: hidden; // This code hides the paragraph outside the frame of the image and restricts the expanding image to it's width 
	img {
		-webkit-transition: opacity 1s, -webkit-transform 1s;
		transition: opacity 1s, transform 1s;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		border: 1px solid #cccccc;
	}
	&:hover img {
		opacity: 0.3;
		-webkit-transform: scale3d(1.1,1.1,1);
		transform: scale3d(1.1,1.1,1);
	}
	p {
		-webkit-transition: opacity 0.35s, -webkit-transform .3s;
		transition: opacity 0.35s, transform .3s;
		-webkit-transform: translate3d(-290px, -150px, 0);
		transform: translate3d(-290px, -150px, 0);
		background-color: #1C2D4F;
		color: #ffffff;
		font-family: sans-serif;
		margin: 5px;
		text-align: center;
		font-size: 16px;
		&:nth-child(2) {
			-webkit-transition-delay: 0.1s;
			transition-delay: 0.1s;
		}
	}
	&:hover p {
		transform: translate3d(0, -150px, 0);
	}
}

/*****************/
/* SHOWCASE TEXT */
/*****************/

.showcaseText {
	p {
		margin-bottom: 30px;
	}
}
.spaceMobile {
	article:nth-child(2) img { /* This is targting the second child element within .spaceMobile and it HAS to be an article element for the CSS code to work */
		border: 1px solid #cccccc;
	}
}
.dpmobile {
	text-align: center;
	img {
		border: none !important;
		max-width: 400px;
	}
}
/***********/
/* ARCHIVE */
/***********/

.archive {
	text-align: center;
	li {
		margin: $pad 0;
	}
	span {
		font-size: 22px;
	}
}

/* MEDIA QUERIES
=====================================================================
=====================================================================*/

@media only screen and (max-width: 1162px) {
	.workEffect {
		max-width: 180px;
		height: 180px;
	}
}

@media only screen and (max-width: 969px) {
	.workEffect {
		max-width: 140px;
		height: 140px;
	}	
}

@media only screen and (max-width: 777px) {
	.workEffect {
		max-width: 120px;
		height: 120px;
	}	
}

@media only screen and (max-width: 681px) {
	.workEffect {
		max-width: 100px;
		height: 100px;
	}	
}

@media only screen and (max-width: 600px) {
	/*[class*='col-'] {
		width:100%;
		padding:0;
	}*/
	h1 {
		font-size: 34px;
	}
	h2 {
		font-size: 20px;
	}
	.workImg {
		aside {
			display: block;
		}
		article {
			text-align: center;
			&:first-of-type {
				/*margin: 0 10px 0 0;*/
			}
			&:last-of-type {
				/*margin: 0 0 0 10px;*/
			}
			img {
				width: 90%;
			}
			h2 {
				margin: 0 0 10px 0;
			}
			p {
				display: none;
			}
		}
	}
	.workEffect {
		height: auto;
		margin: 0;
	}
	.spaceMobile article, .about article {
		width: 83.33%;
		&:nth-child(3) {
			margin-top: $pad;
		}
		&:nth-child(3) {
			margin-left: 8.33%;
			padding: 0;
		}
	}
}
