---
layout: default
title: Home
---


<div class="grid blogStory">
  
  <article class="col-12-12"><!-- BLOG STORY -->

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        
        {{ post.content }}

        {% if paginator.next_page %}
          <p><a href="/page{{ paginator.next_page }}">Previous Story</a>
        {% else %}
          <p><span class="disabled">Previous Story</span>
        {% endif %}
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          | <a href="/">Next Story</a></p>
        {% else %}
         | <a href="/page{{ paginator.previous_page }}">Next Story</a></p>
        {% endif %}
        {% else %}
          <span class="disabled">Next Story</span></p>
        {% endif %}
        
      </li>
    {% endfor %}
  </ul>

  </article>
  
</div>