<footer class="col-12-12"><!-- FOOTER -->
  <div class="grid">
      <div class="col-1-12 grid-pad"></div>

      <div class="col-10-12 grid-pad-top">
        <img src="http://www.gravatar.com/avatar/db7e247a674a36392aed8267a7c083a3?s=140&amp;d=retro" alt="Profile Pic" title="Benjamin Djang">
          <p>My name is Benjamin Djang and I am the Digital Media Manager at <a href="http://democracyprep.org/" target="_blank">Democracy Prep Public Schools</a>, an education non-profit located in Harlem, NY. <a href="mailto:bdjang@gmail.com">Contact me</a>.</p>
      </div>
      
      <div class="col-1-12 grid-pad"></div>
  </div>
</footer>