<footer class="col-12-12"><!-- FOOTER -->
  <div class="grid">
      <div class="col-1-12 grid-pad"></div>

      <div class="col-10-12 grid-pad-top">
        <img src="https://placekitten.com/g/80/80" alt="Profile Pic" title="Benjamin Djang">
          <p>My name is Benjamin Djang and I am the Digital Media Manager at <a href="http://democracyprep.org/" target="_blank">Democracy Prep Public Schools</a>, an education non-profit located in Harlem, NY. I am interested in designing and creating websites and HTML emails. I seek a life of constant learning, growth, and maturation.</p>
      </div>
      
      <div class="col-1-12 grid-pad"></div>
  </div>
</footer>