 <header class="col-12-12"><!-- HEADER -->
    <!-- <div class="grid"> -->

        <!-- <div class="col-2-12 grid-pad"></div>Left Column -->

        <!-- LOGO<div class="col-1-12 logo">
            <div><a href="{{ site.url }}/">Home</a></div>
        </div> -->

        <!-- <nav class="col-8-12">
            <ul>
              "{{ site.baseurl }}/">{{ site.title }}
                <a href="{{ site.url }}/archive"><li>Archive</li></a>
                <a href="{{ site.url }}/work"><li>Work</li></a>
                <a href="{{ site.url }}/about"><li>About</li></a>
                <a href="{{ site.url }}/"><li>Home</li></a>
            </ul>
        </nav>NAV MENU -->

        <!-- <div class="col-2-12 grid-pad"></div>Right Column -->

    <!-- </div> -->
</header>