 <header class="col-12-12"><!-- HEADER -->
    <div class="grid">

        <div class="col-1-12 grid-pad"></div><!-- Left Column -->

        <div class="col-1-12 logo"><!-- LOGO -->
            <div><a href="{{ site.url }}/">Home</a></div>
        </div>

        <nav class="col-9-12">
            <ul>
              <!-- "{{ site.baseurl }}/">{{ site.title }} -->
                <a href="{{ site.url }}/archive"><li>ARCHIVE</li></a>
                <a href="{{ site.url }}/work"><li>WORK</li></a>
                <a href="{{ site.url }}/about"><li>ABOUT</li></a>
            </ul>
        </nav><!-- NAV MENU -->

        <div class="col-1-12 grid-pad"></div><!-- Right Column -->

    </div>
</header>